<div class="parallax_section1 parallax_image">
</div>
<!--END PARALLAX-->



<div class="parallax_section2 parallax_image">
  <div class="row">

    <div class="card1">
      <img class="mushImg" src="/assets/img/shrooms2.png" alt="Card image">
    </div>
    <!--END CARD-->


    <div class="card">
      <blockquote class="blockquote mb-0 card-body">
        <h3>How does it work?</h3>
        <p>&nbsp;</p>
        <hr>
        <p>Instead of going to the garbage the daily collected
          coffee grounds go to Hut & Stiel's production site
          where they are carefully turned in to mushroom
          substrate. The substrate goes in to bags and the
          bags go in to the incubational room. After 3 weeks
          of incubating they go to Nora's basement to fruit
          and to be harvested.</p>
        <hr>
      </blockquote>
    </div>


    <div class="card">
      <div>
        <h3>About us mushrooms</h3>
        <p>&nbsp;</p>
        <hr>
      </div>
      <!--END-->

      <blockquote class="blockquote mb-0">
        <p>We have simple needs. We like the dark side. With water and good coffee we
          grow into the best versions of ourselves. We are full of protein, fiber
          and many vitamins. And all that in the absence of sun. We are pure magic.</p>
        <hr>
      </blockquote>
      <p>&nbsp;</p>
      <blockquote class="blockquote mb-0">
        <div class="">
          <small class="text-muted">
            <cite title="Source Titl"><a href="https://en.wikipedia.org/wiki/Pleurotus_ostreatus">More about our
                family</a></cite>
          </small>
        </div>
        <!--END SMALL-->
      </blockquote>
    </div>

    <div class="card1">
      <img class="mushImg" src="/assets/img/img4.jpg" alt="Card image">
    </div>
    <!--END CARD-->
  </div>
  <!--END CARD-ROW-->
  <div class="row">

    <div class="card1">
      <img class="mushImg" src="/assets/img/lager.png" alt="Card image">
    </div>
    <!--END CARD-->


    <div class="card">
      <blockquote class="blockquote mb-0 card-body">
        <h3>Time to start!</h3>
        <hr>
        <p>After months of hammering, disassembling, assembling, painting, cleaning,
          drilling, cleaning, fixing and then cleaning the basement started to appear like a
          70 square meters mushroom farm. Nora started the production with 50 bags of incubated oyster mushroom
          (Pleurotus ostreatus) and 4 bags of Lion's Mane (Hericium erinaceus) that
          are from a Hungarian mushroom company.</p>
        <hr>
      </blockquote>
    </div>


    <div class="card">
      <blockquote class="blockquote mb-0">
        <div>
          <h3 class="mb-5">Don't miss our recipes!</h3>
          <hr>
          <h3>Cauliflower & Mushroom
          </h3>
          <p>The vegetarian version of the hungarian layered Cauliflower<a href="/assets/recipes/jerky.pdf"
              class="btn btn-dark" target="_blank" style="background-color: #ffc106; float: right;">Go to recipe</a>
            <hr>
          <h3>Mushroom Jerky </h3>
          <p>The vegetarian version of the chrispy-chewy chocolate jerky<a href="/assets/recipes/jerky2.pdf"
              class="btn btn-dark" target="_blank" style="background-color: #ffc106; float: right;">Go to recipe</a>
        </div>
        <hr>
      </blockquote>
    </div>

    <div class="card1">
      <img class="mushImg" src="/assets/img/recipe.PNG" alt="Card image">
    </div>
    <!--END CARD-->
  </div>
  <!--END CARD-ROW-->
</div>
<!--END PARALLAX-->


<div class="parallax_section1 parallax_image">
</div>
<!--END PARALLAX-->