<div class="parallax_section parallax_image">
</div>
<!--END PARALLAX FIRST-->

<div class="parallax_section parallax_image d-flex justify-content-center">
  <div class="paraButton mx-auto my-auto">
    <button type="button" class="btn d-flex justify-content-center btn-block border border-dark"
      style="background-color: #FFC106;"><a routerLink="/mushrooms" class="text-dark"><b>Meet the
          Mushrooms</b></a></button>
  </div>
</div>

<div class="parallax_section parallax_image">
</div>
<!--END PARALLAX SECOND-->