<div class="row container mx-auto my-3">
	<div class="col-sm-10 mx-auto">
		<mat-tab-group animationDuration="0ms">
			<mat-tab label=" ABOUT NORA">
				<p class="mt-4 rounded p-3"><i class="fa fa-user" aria-hidden="true"></i> Nora has a dream, she has a
					vision and she has found us. She is a
					mushroom farmer based in Vienna. <br> She is a convinced environmental
					protector who believes that urban mushroom farming can make a change. <br>
					She thinks that lower meat consumption by producing and selling Oyster
					Mushrooms on recycled coffee grounds can bring a better future. <br>
					We like Nora. She brings us coffee.</p>
				<img class="img-thumbnail mx-auto d-block mb-2" src="/assets/img/Capture.png">
			</mat-tab>
			<mat-tab label="HOW IT ALL STARTED?">
				<p class="mt-4 rounded p-3"><i class="fa fa-user" aria-hidden="true"></i> Nora decided to act on her
					Climate Grief and started looking forsolutions that are doing good for the environment and
					somewhatprofitable. She wanted to help lowering meat consumption and at the same time clean the
					environment. Months of research has started and finally the answer was: A Vienna based company
					called Hut&Stiel that recycles coffee waste and turns it into delicious Oyster mushroom. Nora
					started her internship at the company right away. </p>
				<img class="img-thumbnail mx-auto d-block mb-2" src="/assets/img/Banner.jpg">
			</mat-tab>
			<mat-tab label="ABOUT YOU">
				<p class="mt-4 p-3"><i class="fa fa-user" aria-hidden="true"></i> You like good food, you like meat. You
					are a meat loving consument. Thats ok.<br> But you are also aware that something needs to change. We
					want to show
					you a goodtasting addition - and maybe for later - alternative for high
					carbon producing beef. Try us - give us a chance.<br> Don´t be afraid of the
					dark side. Sometimes out of it evolve good stuff that enlightens everything. </p>
				<img class="img-thumbnail mx-auto d-block  mb-2" src="/assets/img/meat_green.jpg">
			</mat-tab>
			<mat-tab label="OUR VISION">
				<p class="mt-4 p-3"><i class="fa fa-user" aria-hidden="true"></i> Together - Nora, you and we sunless
					creatures - we are in the beginning of
					something wonderful:<br> Combined magic that can spread all over the world and
					contribute critically to the worlds future betterbeing by leaving a lower
					carbon footprint. And in addition to that: we are delicous. Try out the
					recipies on this side.. </p>
				<img class="img-thumbnail mx-auto d-block mb-2" src="/assets/img/vision.png">
			</mat-tab>
		</mat-tab-group>
	</div>
</div>