<div class="container" style="background-color: #ffc106">
	<div class="row container">
		<div class="col-sm-5 mr-auto p-3">
			<h5 class="card-title">ARE YOU INTERESTED?</h5>
			<p class="card-text p-1">
				If you would like to order fresh urban farmed eco-friendly Oyster Mushroom, please contact Nora via: 
			</p>
			<i class="fa fa-mobile" aria-hidden="true"></i>
			<b> +43 664-564-40-86 </b> <br> 
			<a href="mailto:rr.noar@gmail.com">
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
			</a> <b> rr.noar@gmail.com </b> <br>
			<a class="text-dark" href="https://www.facebook.com/LaGomba-103065104591559" 
			target="_blank">
				<i class="fa fa-facebook-official"></i>LaGomba
			</a> 
		</div>
		<div class="col-sm-6 p-3">
			<a href="https://goo.gl/maps/PR35EwZYiDv17MxJ9" target="_blank">
				<img src="/assets/img/map.jpg" class="img-thumbnail rounded mt-3 img-fluid">
			</a>
		</div>
	</div>
	<div class="container ">
		<img src="/assets/img/Capture.png" class="img-thumbnail rounded img-fluid mb-4">
	</div>
</div>
