<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link navbar-brand" routerLink = "/">Home <span class="sr-only">(current)</span></a>
            </li>
             <li class="nav-item">
                <a class="nav-link navbar-brand" routerLink = "/mushrooms">The Mushrooms</a>
            </li>
            <li class="nav-item navbar-brand">
                <a class="navbar-brand" routerLink = "/">
                    <img class="rounded" src="assets/img/logo.png" width="200" height="160">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand" routerLink = "/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand" routerLink = "/contact">Contact</a>
            </li> 
        </ul>
    </div>
</nav>
